
<div class="error" *ngIf="error">
  
</div>

<div class="loading" *ngIf="loading">
  Loading...
</div>

<!-- Page header if required -->
<!--<tfg-page-header-->
<!--    [error]="error"-->
<!--    [errorText]="'There was an error while loading this page'"-->
<!--    [title]="<$= name %> Page">-->
<!--</tfg-page-header>-->

<div *ngIf="!loading" class="page content">
  
  <h1>Here is the main page content</h1>
  
</div>
  <!--- BELOW IS CREATEJOB DIALOG -->
  <div class="dialog-bg" *ngIf="create_j_ob_dialog_visible" (click)="create_j_ob_dialog_visible = false"></div>
  <p-dialog header="Dialog" [(visible)]="create_j_ob_dialog_visible">
    <div class='dialog-content' *ngIf='create_j_ob_dialog_loading '>
  
    <h4>Dialog Title</h4>

  
      <button color="warn" mat-button (click)="create_j_ob_dialog_visible = false">
        CANCEL
      </button>
      <button mat-button color='primary' (click)="createJOb()">
        CREATE
      </button>

    </div>
    <div class='dialog-content-loading' *ngIf='create_j_ob_dialog_loading '>
  
      Loading. Please wait.
  
    </div>
  </p-dialog>
  <!--- ABOVE IS CREATEJOB DIALOG -->
  
<!--- PUT THIS TABLE WHERE YOU WANT IN YOUR HTML !!! --->
<div class='AccountsList-table'>

  <table mat-table [dataSource]="accounts_list_rows" class="mat-elevation-z8" matSort (matSortChange)="orderAccountsListTableData($event)">


    <!-- Position Column -->
    <ng-container matColumnDef="account_name">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>Account Name</th>
      <td mat-cell *matCellDef="let element">
        <span class='tfg-table-td'>
          {{ element.account_name }} 
        </span>
      </td>
    </ng-container>

    
    <!-- Position Column -->
    <ng-container matColumnDef="account_type_name">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>Account Type Name</th>
      <td mat-cell *matCellDef="let element">
        <span class='tfg-table-td'>
          {{ element.account_type_name }} 
        </span>
      </td>
    </ng-container>

    
    <!-- Position Column -->
    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>Count</th>
      <td mat-cell *matCellDef="let element">
        <span class='tfg-table-td'>
          {{ element.count }} 
        </span>
      </td>
    </ng-container>

      
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
  </table>

  <mat-paginator (page)="changePageAccountsList($event)"
  [pageIndex]="accounts_list_current_page -1"
  [length]="accounts_list_count"
  [pageSize]="accounts_list_limit"
  [pageSizeOptions]="[5, 10, 15, 20,25, 100]">
  </mat-paginator>

</div>

<!--- PUT THIS TABLE WHERE YOU WANT IN YOUR HTML !!! --->
<div class='AccountsList-table'>

  <table mat-table [dataSource]="accounts_list_rows" class="mat-elevation-z8" matSort (matSortChange)="orderAccountsListTableData($event)">


    <!-- Position Column -->
    <ng-container matColumnDef="account_name">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>Account Name</th>
      <td mat-cell *matCellDef="let element">
        <span class='tfg-table-td'>
          {{ element.account_name }} 
        </span>
      </td>
    </ng-container>

    
    <!-- Position Column -->
    <ng-container matColumnDef="account_type_name">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>Account Type Name</th>
      <td mat-cell *matCellDef="let element">
        <span class='tfg-table-td'>
          {{ element.account_type_name }} 
        </span>
      </td>
    </ng-container>

    
    <!-- Position Column -->
    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>Count</th>
      <td mat-cell *matCellDef="let element">
        <span class='tfg-table-td'>
          {{ element.count }} 
        </span>
      </td>
    </ng-container>

      
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
  </table>


</div>



    <form [formGroup]='newJobsFormGroup'>

    
            <mat-form-field>
              <input matInputformControlName='Job_name type='text' placeholder=''>
            </mat-form-field>
        

    </form>
  