
<!--- PUT THIS TABLE WHERE YOU WANT IN YOUR HTML !!! --->
<div class='AccountsList-table'>

  <table mat-table [dataSource]="accounts_list_data" class="mat-elevation-z8" matSort (matSortChange)="sortAccountsListTableData($event)">


    <!-- Position Column -->
    <ng-container matColumnDef="account_name">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>Account Name</th>
      <td mat-cell *matCellDef="let element">
        <span class='tfg-table-td'>
          {{ element.account_name }} 
        </span>
      </td>
    </ng-container>

    
    <!-- Position Column -->
    <ng-container matColumnDef="account_type_name">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>Account Type Name</th>
      <td mat-cell *matCellDef="let element">
        <span class='tfg-table-td'>
          {{ element.account_type_name }} 
        </span>
      </td>
    </ng-container>

    
    <!-- Position Column -->
    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>Count</th>
      <td mat-cell *matCellDef="let element">
        <span class='tfg-table-td'>
          {{ element.count }} 
        </span>
      </td>
    </ng-container>

      
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
  </table>

  <mat-paginator (page)="changePageAccountsList($event)"
  [pageIndex]="accounts_list_table_current_page -1"
  [length]="accounts_list_table_count"
  [pageSize]="accounts_list_table_limit"
  [pageSizeOptions]="[5, 10, 15, 20,25, 100]">
  </mat-paginator>

</div>

<!--- PUT THIS TABLE WHERE YOU WANT IN YOUR HTML !!! --->
<div class='AccountsList-table'>

  <table mat-table [dataSource]="accounts_list_rows" class="mat-elevation-z8" matSort (matSortChange)="orderAccountsListTableData($event)">


    <!-- Position Column -->
    <ng-container matColumnDef="account_name">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>Account Name</th>
      <td mat-cell *matCellDef="let element">
        <span class='tfg-table-td'>
          {{ element.account_name }} 
        </span>
      </td>
    </ng-container>

    
    <!-- Position Column -->
    <ng-container matColumnDef="account_type_name">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>Account Type Name</th>
      <td mat-cell *matCellDef="let element">
        <span class='tfg-table-td'>
          {{ element.account_type_name }} 
        </span>
      </td>
    </ng-container>

    
    <!-- Position Column -->
    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>Count</th>
      <td mat-cell *matCellDef="let element">
        <span class='tfg-table-td'>
          {{ element.count }} 
        </span>
      </td>
    </ng-container>

      
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
  </table>

  <mat-paginator (page)="changePageAccountsList($event)"
  [pageIndex]="accounts_list_current_page -1"
  [length]="accounts_list_count"
  [pageSize]="accounts_list_limit"
  [pageSizeOptions]="[5, 10, 15, 20,25, 100]">
  </mat-paginator>

</div>
